@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes Rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  body {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }
}

@layer components {
  .editor a {
    @apply text-neutral-500 hover:text-neutral-400 transition-colors;
  }
  .editor svg {
    @apply inline-block -mt-[2.5px];
  }
  [data-plofier] {
    animation: Rotation 24s linear infinite;
    animation-play-state: paused;
  }
  [data-plofier].is-playing {
    animation-play-state: running;
  }
}
