@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes Rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .editor a {
    @apply text-white/80 sm:text-gray-600 hover:text-white sm:hover:text-gray-900 transition-colors;
  }
  .editor svg {
    @apply inline-block -mt-[2.5px];
  }
  [data-plofier] {
    animation: Rotation 24s linear infinite;
    animation-play-state: paused;
  }
  [data-plofier].is-playing {
    animation-play-state: running;
  }
}
